
/************************************/
/***** Eléments de base du site *****/
/************************************/

* {
  margin: 10px;
  padding: 0px;
}

body {
  font-family: Andale Mono, serif;
  background-image: url("sky_ciel.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/************************************/
/***** Eléments en haut du site *****/
/************************************/

header {
  background-color: rgba(46, 174, 229, 0.67);
  height: 100px;
}

h1 {
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
}

/**************************************/
/***** Eléments du menu déroulant *****/
/**************************************/

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav > ul > li {
  float: left;
}

nav li {
  list-style-type: none;
}

.submenu{
  display: none;
}

nav{
  width: 100%;
  background-color: rgba(46, 174, 229, 0.67)
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 1px 30px;
  color: #FFF;
}

.submenu {
  display: none;
}

nav li:hover .submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 1px;
  z-index: 100000;
}

.submenu li {
  border: 1px solid #CCC;
}

.submenu li a {
  padding: 15px 30px;
  font-size: 13px;
  color: white;
  width: 100px;
  height: 3px;
}

.menu-quisommesnous:hover{
  border: 1px solid white;
  background-color: #153f69;
}
.menu-amerique:hover{
  border: 1px solid white;
  background-color: #153f69;
}

.menu-afrique:hover{
  border: 1px solid white;
  background-color: #153f69;
}

.menu-europe:hover{
  border: 1px solid white;
  background-color: #153f69;
}

nav > ul > li:hover a {
  padding: 15px 20px 15px 20px;
}

.menu-amerique .submenu{
  background-color: #153f69;
}

.menu-afrique .submenu {
  background-color: #153f69;
}

.menu-europe .submenu {
  background-color: #153f69;
}

.submenu li:hover a{
  color: #EEE;
  font-weight: bold;
}

.menu-amerique .submenu li:hover{
  background color: #153f69;
}

.menu-afrique .submenu li:hover{
  background-color: #153f69;
}

.menu-europe .submenu li:hover{
  background-color: #153f69;
}

/************************************/
/********** Réseaux sociaux *********/
/************************************/

.social{
  background-color: rgba (0,0,0,0,2);
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
}

.social img{
  margin-top: 100px;
  width: 40px;
  height: 40px;
}

/************************************/
/************* Diaporama ************/
/************************************/

.diaporama1{
  margin: 50px;
  margin-left:225px;
  margin-top: 1px;
  width: 960px;
  height: 500px;
  border:3px solid #386182;
  background-image: url("imgs/image4.jpg");
  background-position: center;
  animation-name: diapo1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  box-shadow: 5px 4px 24px -3px rgba(0,0,0,0.75);
}

@keyframes diapo1{
    0%{background-image:url("imgs/image4.jpg");}
    33%{background-image:url("imgs/image5.jpg");}
    66%{background-image:url("imgs/image6.jpg");}
    }


.container{
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box{
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .imgBox{
  position: relative;
  overflow: hidden;
}

.container .box .imgBox img{
  max-width: 100%;
  transition: transform 2s;
}

.container .box:hover .imgBox img{
  transform: scale(1.2);
}

.container .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgpa (0,0,0,.8);
}

.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;

}
