
/************************************/
/***** Eléments de base du site *****/
/************************************/

* {
  margin: 10px;
  padding: 0px;
}

body {
  font-family: Andale Mono, serif;
  background-image: url("sky_ciel.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/************************************/
/***** Eléments en haut du site *****/
/************************************/

header {
  background-color: rgba(46, 174, 229, 0.67);
  height: 100px;
}

h1 {
  color: white;
  padding: 30px 50px;
  text-align: center;
  text-decoration: none;
}
/**************************************/
/***** Eléments du menu déroulant *****/
/**************************************/

nav > ul {
  margin: 0px;
  padding: 0px;
}

nav > ul > li {
  float: left;
}

nav li {
  list-style-type: none;
}

.submenu{
  display: none;
}

nav{
  width: 100%;
  background-color: rgba(46, 174, 229, 0.67)
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding: 1px 50px;
  color: #FFF;
}
